{% layout "server/layouts/base.liquid" %}
{% block head %}
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="root.css">
{% endblock %}

{% block content %}
  <h1>{{ item.name | capitalize }}</h1>

  <img src="{{ item.sprite }}" alt="{{ item.name }}">

  <h2>Stats</h2>
  <ul>
    {% for stat in item.stats %}
      <li>{{ stat.name | capitalize }}: {{ stat.value }}</li>
    {% endfor %}
  </ul>

  <a href="/">â† Terug naar overzicht</a>


{% endblock %}