{% layout "server/layouts/base.liquid" %}


{% block content %}
  <h1 class="h1">{{ title }}</h1>
  <ul>
    {% for pokemon in pokemons %}
      <div class="pokemon-card {{ pokemon.types[0] }}">
        <h2>{{ pokemon.name | capitalize }}</h2>
        <h3>
          {% for type in pokemon.types %}
            <span class="type {{ type }}">{{ type | capitalize }}</span>
          {% endfor %}
        </h3>

        <div class="Dcircle"></div>
        <div class="Dcircle"></div>
        <div class="Dcircle"></div>
        <div class="Dcircle"></div>
        <div class="Dcircle"></div>
        <div class="Dcircle"></div>
        <div class="Dcircle"></div>
        <div class="Dcircle"></div>
        <div class="Dcircle"></div>
        <div class="HPcircel"></div>

        <div class="square">
          <a href="/pokemon/{{ pokemon.id }}">
            <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}">
          </a>
        </div>
      </div>
    {% endfor %}

  </ul>
{% endblock %}